APP_NAME=SIBADAK
APP_TAGLINE="Sistem Informasi Basis Data Kehutanan"
APP_URL=http://localhost:8000/sibadak
APP_ENV=development
APP_DEBUG=true

DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_kth_cdk_bjn
DB_USER=root
DB_PASS=

SESSION_LIFETIME=7200
TIMEZONE=Asia/Jakarta
